.container {
  /* width: 100%; */
  position: relative;
}

.trigger {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  min-height: 32px;
  padding: 8px;
  text-decoration: none;
  color: #545e6b;
  background-color: transparent;
  cursor: pointer;
}

.variantDefault {
  border: 1px solid #d8d8d8;
}

.trigger:focus-visible {
  outline: none;
}

.triggerFocus,
.trigger:focus {
  background-color: #eeeeee;
}

.trigger::before {
  content: "";
  background-color: #eeeeee;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.2);
  transition-property: transform, opacity;
  transition-duration: 0.12s;
  transition-timing-function: cubic-bezier(0.45, 0.28, 0.67, 0.93);
  z-index: -1;
}

.trigger:hover::before {
  opacity: 1;
  transform: scale(1);
}

.display {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  width: 100%;
}

.indicator {
  display: flex;
  width: 16px;
  padding: 0;
  margin-left: 4px;
  align-items: center;
}

.listBox {
  border: 1px solid #1b87e6;
  list-style: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px 1px #eaeaeb;
  background-color: #ffffff;
}

.listBox:focus {
  outline: 0px solid #1b87e6;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.option {
  font-size: 12px;
  line-height: 16px;
  padding: 8px;
  cursor: pointer;
  text-align: left;
}

.option:hover {
  background-color: #eeeeee;
}

.optionActive {
  background-color: #eeeeee;
}

.optionDisabled {
  cursor: not-allowed;
  color: #c5c5c5;
}
